@model PagedList.IPagedList<ECommPract.Models.SetupModel.ProductSetup>
@using PagedList.Mvc;
    @{
        ViewBag.Title = "Product";
    }
    <div class="contact-wrapper">
        <div class="image-contact">
            <img src="~/images/pageBanner.png" />
            <h4 style="text-align:center">Our Product</h4>
        </div>

        <div class="row product-margin">
            <div class="col-md-9">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="thumbnails-index">
                            @foreach (var items in Model)
                        {
                                <div class="col-md-4">
                                    <div class="productbox product-adjust">
                                        <a href="@Url.Action("ProductDetails","Product",new { id=items.ProductId })">
                                            <img src="@Url.Content(items.ProductImageUrl)" />
                                        </a>
                                        <a href="#" class="title-product">@items.ProductName</a>
                                        <br />
                                        <a href="#" class="category">@items.CATEGORYNAME</a>
                                        <p class="price">Rs @items.PRICE.ToString("0.00")</p>
                                    </div>
                                </div>
                        }

                            @*<div class="col-md-4">
                        <div class="productbox product-adjust">
                            <a href="#">
                                <img src="~/images/ladies/8.jpg" />
                            </a>
                            <a href="#" class="title-product">Ut wisi enim ad</a>
                            <br />
                            <a href="#" class="category">Commodo consequat</a>
                            <p class="price">$17.25</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="productbox product-adjust">
                            <a href="#">
                                <img src="~/images/ladies/7.jpg" />
                            </a>
                            <a href="#" class="title-product">Ut wisi enim ad</a>
                            <br />
                            <a href="#" class="category">Commodo consequat</a>
                            <p class="price">$17.25</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="productbox product-adjust">
                            <a href="#">
                                <img src="~/images/ladies/6.jpg" />
                            </a>
                            <a href="#" class="title-product">Ut wisi enim ad</a>
                            <br />
                            <a href="#" class="category">Commodo consequat</a>
                            <p class="price">$17.25</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="productbox product-adjust">
                            <a href="#">
                                <img src="~/images/ladies/9.jpg" />
                            </a>
                            <a href="#" class="title-product">Ut wisi enim ad</a>
                            <br />
                            <a href="#" class="category">Commodo consequat</a>
                            <p class="price">$17.25</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="productbox product-adjust">
                            <a href="#">
                                <img src="~/images/ladies/5.jpg" />
                            </a>
                            <a href="#" class="title-product">Ut wisi enim ad</a>
                            <br />
                            <a href="#" class="category">Commodo consequat</a>
                            <p class="price">$17.25</p>
                        </div>
                    </div>*@
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                        <div class="thumbnails-index">
                            <div class="col-md-4">
                                <div class="productbox product-adjust">
                                    <a href="#">
                                        <img src="~/images/ladies/6.jpg" />
                                    </a>
                                    <a href="#" class="title-product">Ut wisi enim ad</a>
                                    <br />
                                    <a href="#" class="category">Commodo consequat</a>
                                    <p class="price">$17.25</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="productbox product-adjust">
                                    <a href="#">
                                        <img src="~/images/ladies/9.jpg" />
                                    </a>
                                    <a href="#" class="title-product">Ut wisi enim ad</a>
                                    <br />
                                    <a href="#" class="category">Commodo consequat</a>
                                    <p class="price">$17.25</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="productbox product-adjust">
                                    <a href="#">
                                        <img src="~/images/ladies/5.jpg" />
                                    </a>
                                    <a href="#" class="title-product">Ut wisi enim ad</a>
                                    <br />
                                    <a href="#" class="category">Commodo consequat</a>
                                    <p class="price">$17.25</p>
                                </div>
                            </div>
                        </div>
                    </div>*@
                @*<div class="form-group">

                        <div class="thumbnails-index">
                            <div class="col-md-4">
                                <div class="productbox product-adjust">
                                    <a href="#">
                                        <img src="~/images/ladies/4.jpg" />
                                    </a>
                                    <a href="#" class="title-product">Ut wisi enim ad</a>
                                    <br />
                                    <a href="#" class="category">Commodo consequat</a>
                                    <p class="price">$17.25</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="productbox product-adjust">
                                    <a href="#">
                                        <img src="~/images/ladies/3.jpg" />
                                    </a>
                                    <a href="#" class="title-product">Ut wisi enim ad</a>
                                    <br />
                                    <a href="#" class="category">Commodo consequat</a>
                                    <p class="price">$17.25</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="productbox product-adjust">
                                    <a href="#">
                                        <img src="~/images/ladies/2.jpg" />
                                    </a>
                                    <a href="#" class="title-product">Ut wisi enim ad</a>
                                    <br />
                                    <a href="#" class="category">Commodo consequat</a>
                                    <p class="price">$17.25</p>
                                </div>
                            </div>
                        </div>
                    </div>*@
                @*<div class="center">
                        <div class="pagination">
                            <a href="#">Prev</a>
                            <a href="#" class="active">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">Next</a>
                        </div>
                    </div>*@
                <div class="center">
                        @Html.PagedListPager(Model, page => Url.Action("Product", "Product", new { page }))
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageNumber
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-sidelist">
                    <h5 class="product-title"><strong>Sub Categories</strong></h5>
                    <ul class="productsidebar">
                        <li>Nullam semper elementum</li>
                        <li>Nullam semper elementum</li>
                        <li>Nullam semper elementum</li>
                        <li>Nullam semper elementum</li>
                        <li>Nullam semper elementum</li>
                    </ul>
                    <h5 class="product-title"><strong>Manufacturer</strong></h5>
                    <ul class="productsidebar">
                        <li>Adidas</li>
                        <li>Nike</li>
                        <li>Dunlop</li>
                        <li>Yamaha</li>
                    </ul>
                </div>
                <div class="product-sidelist">
                    <h4 class="title-main">
                        <span class="pull-left">
                            <span class="title-first">Randomize</span>
                        </span>
                    </h4>
                    <div>
                        <div class="productbox">
                            <a href="#">
                                <img src="~/images/ladies/7.jpg" />
                            </a>
                            <a href="#" class="title-product">Ut wisi enim ad</a>
                            <br />
                            <a href="#" class="category">Commodo consequat</a>
                            <p class="price">$17.25</p>
                        </div>
                        @*<img src="~/images/ladies/1.jpg" style="width:100%;" />*@
                    </div>
                </div>
                <div class="product-sidelist">
                    <h4 style="text-align:center;">
                        <span style="color:#eb4800;"><strong>BEST</strong></span> SELLER
                    </h4>
                    <hr />
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-2">
                                <img src="~/images/ladies/1.jpg" width="50" height="50" />
                            </div>
                            <div class="col-md-10">
                                Praesent tempor sem
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <img src="~/images/ladies/1.jpg" width="50" height="50" />
                            </div>
                            <div class="col-md-10">
                                Praesent tempor sem
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <img src="~/images/ladies/1.jpg" width="50" height="50" />
                            </div>
                            <div class="col-md-10">
                                Praesent tempor sem
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>